Desktop/MyDreamHouseDesktop/SynchronisationLib/Service References/SynchronisationService/item21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SynchronisationShared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SynchronisationShared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wi-gate.technikum-wien.at:60631/Design_Time_Addresses/SynchronisationService/SynchronisationWCF/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SynchronisationDataManager.Tables" />
  <xs:complexType name="SyncData">
    <xs:sequence>
      <xs:element minOccurs="0" name="SyncOperation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncData" nillable="true" type="tns:SyncData" />
  <xs:complexType name="SyncDataSet">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SynchronisationDataManager.Tables" minOccurs="0" name="AttachementsTable" nillable="true" type="q1:ArrayOfAttachements" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SynchronisationDataManager.Tables" minOccurs="0" name="BeraterTable" nillable="true" type="q2:ArrayOfBerater" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SynchronisationDataManager.Tables" minOccurs="0" name="HauspaketAttributRegelTable" nillable="true" type="q3:ArrayOfHauspaketAttributRegel" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SynchronisationDataManager.Tables" minOccurs="0" name="HauspaketAttributTable" nillable="true" type="q4:ArrayOfHauspaketAttribut" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SynchronisationDataManager.Tables" minOccurs="0" name="HauspaketAttributWertTable" nillable="true" type="q5:ArrayOfHauspaketAttributWert" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SynchronisationDataManager.Tables" minOccurs="0" name="HauspaketAttributZuordTable" nillable="true" type="q6:ArrayOfHauspaketAttributZuord" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SynchronisationDataManager.Tables" minOccurs="0" name="HauspaketTable" nillable="true" type="q7:ArrayOfHauspaket" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SynchronisationDataManager.Tables" minOccurs="0" name="HerstellerTable" nillable="true" type="q8:ArrayOfHersteller" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncDataSet" nillable="true" type="tns:SyncDataSet" />
</xs:schema>